@tailwind base;

@layer base {
  html {
    @apply font-mono;
  }
}

@tailwind components;
.btn {
  @apply border-1 border-primary-content font-normal capitalize;
}
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari, Edge, Opera */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .highlighter {
    position: relative;
    z-index: 0;

  }
  .highlighter::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 36%;
    left: -2%;
    display: block;
    width: 105%;
    height: 30%;
    background: #ff0056;
  }
}

/* custom scrollbar that's fairly consistent across browsers */

html {
  --scrollbarBG: rgba(0,0,0,0);
  --thumbBG: rgba(0,0,0,0.8);
}
*::-webkit-scrollbar {
  width: 11px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
*::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 16px;
  border: 8px solid var(--scrollbarBG);
}