@tailwind base;

@layer base {
  html, body, div, applet, object, iframe {
    @apply text-white bg-black;
  }
  button {
    @apply uppercase underline underline-offset-8 decoration-dotted disabled:opacity-50 hover:decoration-solid;
  }
}

@tailwind components;
@tailwind utilities;
