@tailwind base;

@layer base {
  html {
    @apply font-mono;
  }
}

@layer components {
  .notification {
    /* requires parent element to have position: relative */
    @apply absolute flex items-center justify-center w-5 h-5 text-2xl text-center rounded-full bg-accent text-neutral -top-3 -left-3
  }
}

@tailwind components;
.btn {
  @apply font-normal capitalize transition-none border-1 border-primary-content;
}
.btn:hover {
  @apply border-primary-content
}
.card {
  @apply overflow-hidden
}
.input {
  @apply input-bordered border-white
}
.btn-inverted {
  @apply bg-grey text-darkgray
}
.btn-inverted:hover {
  @apply bg-middlegrey text-grey
}
@tailwind utilities;

@layer utilities {
  .inverted {
    @apply bg-grey text-darkgray
  }
  .highlighter {
    position: relative;
    z-index: 0;
  }
  .highlighter::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 36%;
    left: -2%;
    display: block;
    width: 105%;
    height: 30%;
    @apply bg-error;
  }

  .btn-stylish:hover {
    overflow: hidden;
    position: relative;
    @apply text-primary;
    box-shadow: 4px 4px 0px 0px var(--tw-shadow-color);
  }
  .btn-stylish:hover::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 3px;
    left: 3px;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--tw-shadow-color);
  }
  
  .text-highlight-epistemic {
    @apply font-bold text-epistemic
  }
  .text-highlight-epistemic::before {
    content: '';
    background-image: url('icon_epistemic.png');
    @apply mr-1 align-middle inline-block bg-contain bg-no-repeat w-6 h-6
  }
  .text-highlight-constellation {
    @apply font-bold text-constellation
  }
  .text-highlight-constellation::before {
    content: '';
    background-image: url('icon_constellation.png');
    @apply mr-1 align-middle inline-block bg-contain bg-no-repeat w-6 h-6
  }
  .text-highlight-chaos {
    @apply font-bold text-chaos
  }
  .text-highlight-chaos::before {
    content: '';
    background-image: url('icon_chaos.png');
    @apply mr-1 align-middle inline-block bg-contain bg-no-repeat w-6 h-6
  }
  .text-highlight-agentic {
    @apply font-bold text-agentic
  }
  .text-highlight-agentic::before {
    content: '';
    background-image: url('icon_agentic.png');
    @apply mr-1 align-middle inline-block bg-contain bg-no-repeat w-6 h-6
  }
  .text-highlight-anthropic {
    @apply font-bold text-anthropic
  }
  .text-highlight-anthropic::before {
    content: '';
    background-image: url('icon_anthropic.png');
    @apply mr-1 align-middle inline-block bg-contain bg-no-repeat w-6 h-6
  }
  .text-highlight-physical {
    @apply font-bold text-physical
  }
  .text-highlight-physical::before {
    content: '';
    background-image: url('icon_physical.png');
    @apply mr-1 align-middle inline-block bg-contain bg-no-repeat w-6 h-6
  }
  .text-highlight-digital {
    @apply font-bold text-digital
  }
  .text-highlight-digital::before {
    content: '';
    background-image: url('icon_digital.png');
    @apply mr-1 align-middle inline-block bg-contain bg-no-repeat w-6 h-6
  }
  .text-highlight-autonomic {
    @apply font-bold text-autonomic
  }
  .text-highlight-autonomic::before {
    content: '';
    background-image: url('icon_autonomic.png');
    @apply mr-1 align-middle inline-block bg-contain bg-no-repeat w-6 h-6
  }
}

/* Hide default input widget */
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* custom scrollbar that's fairly consistent across browsers */

html {
  --scrollbarBG: rgba(0,0,0,0);
  --thumbBG: rgba(0,0,0,0.8);
}
*::-webkit-scrollbar {
  width: 11px;
  /* display: none; */
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
*::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 16px;
  border: 8px solid var(--scrollbarBG);
}

/* draggable / sortable */
.sortable-ghost {
  @apply opacity-30;
}