@tailwind base;

@layer base {
  html, body, div, applet, object, iframe {
    @apply text-white bg-base-100;
  }
  button {
    /* @apply uppercase underline underline-offset-8 decoration-dotted disabled:opacity-50 hover:decoration-solid; */
  }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari, Edge, Opera */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}

.simplebar-track {
  @apply bg-transparent;
}
.simplebar-scrollbar {
  @apply bg-inherit;
}

/* custom scrollbar that's fairly consistent across browsers */

html {
  --scrollbarBG: rgba(0,0,0,0);
  --thumbBG: rgba(0,0,0,0.8);
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 16px;
  border: 8px solid var(--scrollbarBG);
}